.skills{
    display:flex;
    flex-direction:column;
    justify-content : center;
    align-items:center;
}   

.se_container{
    display:flex;
    justify-content : center;
    align-items:center;
}

.app__skills {
    flex: 1;
    width: 100%;
    flex-direction: column;
}
.app__skills-container {
    width: 80%;
    padding-left: 10px;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.app__skills-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.skills .is-reveal{
    transform: scale(1);
    filter: none;
    transition: all 0.3s ease-in-out;
}

.app__skills-item {
    will-change: transform;
    transform: scale(0.7);
    transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    filter: grayscale(100%) sepia(20%) brightness(80%);
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
}
.app__skills-item div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef4f5;
    transition: all 0.3s ease-in-out;
}
.app__skills-item div img {
    width: 60%;
    height: 60%;
}
.app__skills-item div:hover {
    box-shadow: 0 0 25px #fef4f5 ;
    transform: scale(1.06);
    transition: all 0.3s ease-in-out;
}

.app__skills-item p {
    font-weight: 500;
    margin-top: 0.5rem;
}