section {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.bg img {
    width: 110vw;
    height: 110vh;
    filter: brightness(0.6);
}

.rock1 {
    position: absolute !important;
    left: 10vw !important;
    top: 20vh !important;
}

.rock1 img {
    width: 40%;
    filter: brightness(0.5);
}

.text h1 {
    font-family: "AlphaCentauri";
    font-size: 4vw;
    color: var(--grey_main);
    letter-spacing: 10px;
    position: absolute;
    top: 30vh;
    left: 13vw;
    width : 65vw !important;
}

.text h2{
    font-family: "AlphaCentauri";
    font-size: 3vw;
    color: var(--grey_main);
    letter-spacing: 5px;
    position: absolute;
    top: 42vh;
    left: 13vw;
    width : 60vw !important;
}

.text .firsth2{
    font-family: "AlphaCentauri";
    font-size: 3vw;
    color: var(--grey_main);
    letter-spacing: 5px;
    position: absolute;
    top: 23.5vh;
    left: 13vw;
    width : 40vw !important;  
}

.toChange{
    color: var(--blue_sub);
}

.earth img {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 34vw;
    top: 25vh;
    z-index: 1;
    filter: brightness(0.7);
}

.mid {
    left: -150px !important;
    bottom: -100px !important;
    top: unset !important;
}

.mid img {
    width: 100%;
    z-index: 2;
    left: -20px;
    top: 20vh !important;
    filter: brightness(0.8);
}

.fore {
    right: -50px !important;
    bottom: -200px !important;
    top: 0px !important;
    left: unset !important;
}

.fore img {
    width: 400px;
    height: 110vh;
    z-index: 3;
    filter: brightness(0.5);
}

.screen .nextButtons{

}

.screen .socialMedia{
    position: absolute;
    top: 28vh;
    left : 60vw;
}


.screen .icon{
}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: rgba(244,244,244,0.5);;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover{
    width: 180px;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
    transform: translateX(-1px);
}
.wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
    background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
    background: #ff0000;
}
.wrapper .button:nth-child(6):hover .icon{
    background: #333;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
    color: #fff;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
    color: #4267B2;
}
.wrapper .button:nth-child(2) span{
    color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
    color: #E1306C;
}
.wrapper .button:nth-child(4) span{
    color: #333;
}
.wrapper .button:nth-child(5) span{
    color: #ff0000;
}
.wrapper .button:nth-child(6) span{
    color: #333;
}