/* Google Fonts */
/* font-family: 'League Spartan', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Montserrat&family=Roboto&display=swap');

:root {
  --black_main: #0B0C10;
  --black_sub: #1F2833;
  --blue_main: #45A29E;
  --blue_sub: #66FCF1;
  --grey_main: #C5C6C7; 
}

body {
  margin: 0;
  /* cursor: none; */
  background-color: black;
  overflow-x: hidden;
}
